<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>addmessage</name>
	<displayName><![CDATA[My new module]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[module for task 1 by manuel rodríguez]]></description>
	<author><![CDATA[manuel rodríguez]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
